.friendList {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 10px 0;
}
.item {
  position: relative;
  width: 240px;
  height: 100px;
  background-color: white;
  border: 1px solid rgb(203, 203, 203);
  list-style-type: none;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}
.status {
  position: absolute;
  left: 20px;
  top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 0;
}
.avatar {
  position: absolute;
  left: 60px;
  top: calc(50% - 25px);
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(203, 203, 203);
  box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}
.name {
  position: absolute;
  left: 140px;
  top: calc(50% - 20px);
  width: 100px;
  margin: 0;
}
.online {
  background-color: green;
}
.offline {
  background-color: red;
}
