.statistics {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-top: 0;
  border: 1px solid rgb(203, 203, 203);
  background-color: rgb(211, 231, 255);
}
.title {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.statList {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: auto;
  margin: 0;
}
.item {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
  list-style-type: none;
}
.label,
.percentage {
  width: 44px;
  text-align: center;
}
.label {
  padding-top: 5px;
}
.percentage {
  padding-bottom: 5px;
}
