.transactionHistory {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border: 1px solid #695e5e;
  border-spacing: 0;
  text-align: center;
}
tr:nth-child(odd) {
  background: #695e5e;
  color: white;
}
.type,
.amount {
  width: 350px;
  padding: 10px;
  border-right: 1px solid #695e5e;
  background-color: rgb(5, 206, 206);
  border-spacing: 0;
}
.currency {
  width: 350px;
  padding: 10px;
  background-color: rgb(5, 206, 206);
}
.typeTd,
.amountTd {
  border-right: 1px solid #695e5e;
}
.typeTd,
.amountTd,
.currencyTd {
  padding: 5px;
}
